/* Variables */
:root{
    --main-primary-color:rgb(233,84,32);
    --main-primary-text-color:white;
    --main-primary-border-color:var(--main-primary-color);
} 

.primary-text-color{
    color:var(--main-primary-color);
}

/* Dropdown Menu for FrontEnd */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
/* Headings for Info Display */
.myheading{
    font-family: 'Cabin', sans-serif;
    font-size: 28px;
}

.mysubheading{
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
}

.myp {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
}

.myp strong{
    color:var(--main-primary-color);
    font-size:14px;
    font-weight: bold;
}

.myp ul li{
    font-size:14px;
}

.myfooter {
    padding-top: 10px;
    background-color: var(--main-primary-color);
    color:var(--main-primary-text-color);
}

/* Carousel Main Captions etc */
.carousel-caption{
    background-color: var(--main-primary-color);
    padding-top:0px;
}
.carousel-caption h4,p {
    color:black;
}
/* Carouse Product/Service Caption */

/* For Display of Info */
.panel-heading h5{
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel-body {
    font-size: 12px;
}

/* Admin Panel */
.adminheader {
    color: var(--main-primary-text-color);
}

.thumbnail {
    padding-top:10px;
    margin-top:10px;
}
.thumbnail img{
    max-height: 150px;
    border:2px solid var(--main-primary-border-color);
}

.thumbnail .description{
    color: #a7ada7;
}

.price{
    font-weight:bold;
    font-size: 16px;
}

.error {
    border: 1px solid red;
    background-color: #ad8484;
    color: #7a0009;
}

.icon-delete {
    color:red;
}
.icon-edit {
    color: blue;
}

[hidden] {
    display: none !important;
}

.profile_tabs {
    padding-left: 5%;
    padding-top: 2.5%;
    padding-right : 5%;
}
/* Center Items in Navbar */
.navbar-brand {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;

  }
  .navbar-toggle {
    z-index: 3;
  }
  .nav.navbar-nav {
    float: none !important;
    display: inline-block;
  }

  /* for Column in Banners */
  .banner-img-responsive {
    margin: 0 auto;
}

/* For checkboxes - buybook */
.check
{
    opacity:0.5;
	color:#996;
}
.box{
    margin-bottom:5px;
}

/** For Thumbnails */

.featured {
    background: url("../img/featured.png") no-repeat scroll 0 0 transparent;
    width:200px;
    height:200px;
    position: absolute; /* Added Position */
    top: 0px; /* Added Top Position */        
    z-index: 2; /* Added Higher Z-Index Value from thumbnail div */
}

.popular {
    background: url("../img/popular.png") no-repeat scroll 0 0 transparent;
    width:200px;
    height:200px;
    position: absolute; /* Added Position */
    top: 0px; /* Added Top Position */        
    z-index: 2; /* Added Higher Z-Index Value from thumbnail div */
}

.latest {
    background: url("../img/latest.png") no-repeat scroll 0 0 transparent;
    width:200px;
    height:200px;
    position: absolute; /* Added Position */
    top: 0px; /* Added Top Position */        
    z-index: 2; /* Added Higher Z-Index Value from thumbnail div */
}

/** For Loaders */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }